{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Case Study</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  
</head>

{% block jquery %}
<script type="text/javascript">

var globtemp;
var globtitle;
var globid;
var keywords = [];
var checkbox;
var chSatus = false;
var score;

$( document ).ready(function() {
  

  if (window.sessionStorage.getItem('xr') == null){
    window.location.replace("/login")
  }

    var temp = [];
    var title = [];
    var id = [];
    var visited_pages = []
    $.ajax({
          url: "/apis/get-cases",
          type: "GET",
          dataType: "json",
          async: false,
          ContentType: "application/json",
          success: function(data){
            var DoneList ={{done_list}};
            for (let i = 0; i < data.length; i++){
              if (DoneList.includes(data[i]["id"]) == false){
              temp.push(data[i]["main_problem"])
              title.push(data[i]["sub_heading"])
              id.push(data[i]["id"])
            }
              }
            if (id.length == 0){
              window.location.replace("/error404/")
            }

          } 
      });

  function randomData(){
    let x = Math.floor((Math.random() * 2000) + 1)
    sessionStorage.setItem('pr', temp[x]);
    sessionStorage.setItem('no', id[x]);
    sessionStorage.setItem('tag', title[x]);
    $("#text").html(temp[x]);
    $("#id").html("<h5> Case No: "+ id[x] + "</h5>");
    $("#title").html("<h5> Title - "+ title[x] + "</h5>");
  }
  
  function dataPoint(){
    var text = sessionStorage.getItem('pr');
    var id_no = sessionStorage.getItem('no');
    var tag = sessionStorage.getItem('tag');

    $("#text").html(text);
    $("#id").html("<h5> Case No: "+ id_no + "</h5>");
    $("#title").html("<h5> Title - "+ tag + "</h5>");  
  }

  if (sessionStorage.getItem('pr')== null) {
      
      randomData();
  }
  else {

      dataPoint();
  }

$("#scale").on("click","li", function(){
      var s = $( this ).attr("value");
      $(".page-item").removeClass("active");
      $(this).addClass("active");
      score = s

});

$("#checkother").on("click", function(){
  $("#other").removeAttr("hidden");
});


globtemp = temp;
globid = id;
globtitle = title;
});

function nextData(){
    let x = Math.floor((Math.random() * 4000) + 1)
    sessionStorage.setItem('pr', globtemp[x]);
    sessionStorage.setItem('no', globid[x]);
    sessionStorage.setItem('tag', globtitle[x]);
    $("#text").html(globtemp[x]);
    $("#id").html("<h5> Case No: "+ globid[x] + "</h5>");
    $("#title").html("<h5> Title - "+ globtitle[x] + "</h5>");
    $("#tags").html('');
    score = null;
    $(".page-item").removeClass("active");
    $("#summary").val('');
    $("#reply").val('');
    $(".form-check-input:checked").prop("checked", false);
    $("#other").val('');
    checked=null;

  }

function addTags(){
  var takeValue = $("#inputtags").val();
  keywords.push(takeValue);
  var ItemAdd = "<h6 class='hsix'><span class='badge bg-primary' id='"+ takeValue + "' style='margin:4px;'>"+takeValue+"<button class='btn-close' aria-label='Close' onClick='removeTag()'></button></span></h6>"
  $("#tags").append(ItemAdd);
  $('#inputtags').val('');

}

function removeTag(){
  $("#tags").on("click","span", function(){
      var key = $( this ).attr("id");
      $(this).remove();
      var keyIndex = keywords.indexOf(key);
      keywords.splice(keyIndex, 1);

  });
}

function submitForm(){
  var username = "{{context}}"
  var summary = $("#summary").val();
  var reply = $("#reply").val();
  var case_id = sessionStorage.getItem('no');
  
  if ($('.form-check-input:checked').val() == "other"){

    checkbox = $('#other').val();
  }
  else{
    checkbox = $('.form-check-input:checked').val();
  }


  var data = {

              "case_id":case_id, 
              "username":username,
              "asking": checkbox,
              "keyword":keywords, 
              "score":score, 
              "summary":summary,
               "reply":reply
             }
  $.ajax({
    url: "/apis/submit",
    method:"POST",
    data:data,
    dataType:"json",
    ContentType: "application/json",
    success: function(response){
      if (response["response"] == true){
        nextData();
      }

    }
  });
        }
</script>
{% endblock %}

<body>
 <div class="container h-300" style="margin-top: 5%;">
    <div class="row align-items-center h-300">
      <div class="col-12 mx-auto">
        <div id="id">
          </div>
            <div class="card h-300 justify-content-center" style="padding: 15px;">
              <div id="title">
              </div>
                <div class="text" id="text">
                  <div class="d-flex justify-content-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                  </div>
                </div>
                <br>
            </div>
            <br>
            <button type="button" class="btn btn-outline-primary" onclick="nextData()" style="float:rigth;">Next Case</button>
            <br>
            <br>
            <div class="container h-100">
              <div class="row align-items-center h-100">
                <div class="col-12">
                  <div class="card h-100 justify-content-center" id = "clicked" style="padding: 15px;">
                    <h5>Patient asking for</h5>
                    <br>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="help" value="help">
                      <label class="form-check-label" for="flexRadioDefault1">
                        Help
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="support" value="support">
                      <label class="form-check-label" for="flexRadioDefault2">
                        Support
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="advice" value="advice">
                      <label class="form-check-label" for="flexRadioDefault2">
                        Advice
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="suggestion" value="suggestion">
                      <label class="form-check-label" for="flexRadioDefault2">
                        Suggestion
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="unclear" value="unclear">
                      <label class="form-check-label" for="flexRadioDefault2">
                        Unclear
                      </label>
                    </div>
                    <div class="form-check" id="checkother">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="other-check" value="other">
                      <label class="form-check-label" for="flexRadioDefault2">
                        Other
                      </label>
                      <br>
                      <br>
                      <input type="text" class="form-control" id="other" placeholder="Mention here.." hidden>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="container h-100">
              <div class="row align-items-center h-100">
                <div class="col-12">
                  <div class="card h-100 justify-content-center" style="padding: 15px;">
                    <h5>Important Keywords</h5>
                    <br>
                    <div class="form-group mx-sm-3 mb-2">
                      <input type="text" class="form-control" id="inputtags" placeholder="ex:- Anxiety, Depression, Sexual Abuse">
                    </div>
                    <br>
                    <button class="btn btn-primary mb-2" onclick="addTags()">Add tag</button>
                    <br>
                    <div class="d-flex flex-wrap bd-highlight mb-3" id="tags">
                      
                    </div>
                    <div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="container h-100">
              <div class="row align-items-center h-100">
                <div class="col-12">
                  <div class="card h-100 justify-content-center" style="padding: 10px;">
                    <h5>Relevant Score</h5>
                    <br>
                    <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-sm justify-content-center" id="scale">
                      <li class="page-item" value = 1><a class="page-link">1</a></li>
                      <li class="page-item" value = 2><a class="page-link">2</a></li>
                      <li class="page-item" value = 3><a class="page-link">3</a></li>
                      <li class="page-item" value = 4><a class="page-link">4</a></li>
                      <li class="page-item" value = 5><a class="page-link">5</a></li>
                      <li class="page-item" value = 6><a class="page-link">6</a></li>
                      <li class="page-item" value = 7><a class="page-link">7</a></li>
                      <li class="page-item" value = 8><a class="page-link">8</a></li>
                      <li class="page-item" value = 9><a class="page-link">9</a></li>
                      <li class="page-item" value = 10><a class="page-link">10</a></li>
                    </ul>
                  </nav>
                  <br>
                  <small><i>10 score will be considered as most relevant and 1 score will be considered as not relevant</i></small>
                      <br>
                    </div>
                  <div>
                </div>
              </div>
            </div>
          </div>
          <br>
            <div class="container h-100">
              <div class="row align-items-center h-100">
                <div class="col-12">
                  <div class="card h-100 justify-content-center" style="padding: 10px;">
                    <h5>Summarize</h5>
                      <br>
                      <label for="summary" class="form-label">Summary</label>
                      <textarea class="form-control"  rows="3" id="summary" placeholder="Summarize here.." required></textarea> 
                  </div>
                <div>
              </div>
            </div>
          </div>
        </div>
          <br>
            <div class="container h-100">
              <div class="row align-items-center h-100">
                <div class="col-12">
                  <div class="card h-100 justify-content-center" style="padding: 10px;">
                    <h5>Reply</h5>
                      <br>
                      <label for="reply" class="form-label">Reply</label>
                      <textarea class="form-control" rows="3" id="reply" placeholder="Give your reply here.." required></textarea> 
                  </div>
                <div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="container h-100">
              <div class="row align-items-center h-100">
                <div class="col-12">
                  <div class="card h-100 justify-content-center" style="padding: 10px;">
                    <br>
                    <button class="btn btn-success" onclick="submitForm()">submit</button> 
                  </div>
                <div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
