{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Case Study</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  
</head>

{% block jquery %}
<script type="text/javascript">

</script>
{% endblock %}
<body>
  <div class="container h-300" style="margin-top: 2%;">
    <div class="row align-items-center h-300">
      <div class="col-12 mx-auto">
            <div class="card h-300 justify-content-center">
              <div class="text" id="text">
                <div class="d-flex" style="padding: 10px;">    
                  <br>
                    <h1>Completed Cases</h1>
                  <br>
                </div>
                <button class="btn btn-primary"><a href="{% url 'home' %}"> <- back </a></button>
                </div>
              </div>
              
              </div>
            </div>
          </div>
        </div>

  
  {% for obj in data %}

  <div class="container h-300" style="margin-top: 2%;">
    <div class="row align-items-center h-300">
      <div class="col-12 mx-auto">
        <div id="id">
          </div>
            <div class="card h-300 justify-content-center">
              <div class="text" id="text">
                <div class="d-flex" style="padding: 10px;">    
                  <br>
                    <h5> {{obj.case_id.sub_heading}} </h5>
                  <br>
                </div>
                <div class="d-flex">
                  <div style="margin: 5px;">
                    <a href="#">Intent</a>
                  </div>

                  <div style="margin: 5px;">
                    <a href="#">Symptoms</a>
                  </div>

                  <div style="margin: 5px;">
                    <a href="#">Cause</a>
                  </div>

                  <div style="margin: 5px;">
                    <a href="#">Patient Ask For</a>
                  </div>

                  <div style="margin: 5px;">
                    <a href="#">History</a>
                  </div>

                  <div style="margin: 5px;">
                    <a href="#">Effect</a>
                  </div>
                </div>
              </div>
              
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      
      <div class="container h-300" style="margin-top: 2%;">
    <div class="row align-items-center h-300">
      <div class="col-12 mx-auto">
        <div id="id">
          </div>
            <div class="card h-300 justify-content-center">
              <div class="text" id="text">
                <div class="d-flex" style="padding: 10px;">    
                  <br>
                    {% if data.has_previous %}
                      <a href="?page=1">&laquo First </a>
                      &nbsp;
                      <a href="?page={{data.previous_page_number}}">Previous Page</a>
                    {% endif %}
                    &nbsp;
                    page {{data.number}} of {{ data.paginator.num_pages }}
                    &nbsp;
                    {% if data.has_next %}
                      <a href="?page={{data.next_page_number}}">Next Page</a>
                      &nbsp;
                      <a href="?page={{data.paginator.num_pages}}"> Last &raquo</a>
                    {% endif %}
                    <br>
                </div>
                </div>
              </div>
              
              </div>
            </div>
          </div>
        </div>

</body>
</html>
