{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Completed Cases List</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  
</head>

{% block jquery %}
<script type="text/javascript">

  function markIncompleted(e){
    var case_id = e;

    $.ajax({
      headers: {
      Authorization: 'Bearer '+ '{{token}}'},
      url: "/apis/mark-incompleted",
      method:"GET",
      data:case_id,
      dataType:"json",
      ContentType: "application/json",
      success: function(response){
        window.location.reload();

    }
    });

  }

</script>
{% endblock %}
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Project-3001</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'main' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'completed' %}">Completed Cases</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'not-completed' %}">Not Completed Cases</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
       <!--  <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-danger" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
  
  {% for obj in data %}

  <div class="container h-300" style="margin-top: 2%;">
    <div class="row align-items-center h-300">
      <div class="col-12 mx-auto">
        <div id="id">
          </div>
            <div class="card h-300 justify-content-center">
              <div class="text" id="text">
                <div class="d-flex" style="padding: 10px;">    
                  <br>
                    <h5>{{obj.case_id.id}} - {{obj.case_id.sub_heading}} </h5>
                  <br>
                </div>
                <div class ="d-flex flex-wrap bd-highlight mb-3">
                  <div style="margin: 5px;">
                    <a href="{% url 'update-intent' pk=obj.case_id.id %}" class="btn btn-outline-primary">Intent</a>
                  </div>

                  <div style="margin: 5px;">
                    <a href="{% url 'update-symptoms' pk=obj.case_id.id %}" class="btn btn-outline-primary">Symptoms</a>
                  </div>

                  <div style="margin: 5px;">
                    <a href="{% url 'update-cause' pk=obj.case_id.id %}" class="btn btn-outline-primary">Cause</a>
                  </div>

                  <div style="margin: 5px;">
                    <a href="{% url 'update-patient-asking-for' pk=obj.case_id.id %}" class="btn btn-outline-primary">Patient Ask For</a>
                  </div>

                  <div style="margin: 5px;">
                    <a href="{% url 'update-history' pk=obj.case_id.id %}" class="btn btn-outline-primary">History</a>
                  </div>

                  <div style="margin: 5px;">
                    <a href="{% url 'update-effect' pk=obj.case_id.id %}" class="btn btn-outline-primary">Effect</a>
                  </div>
                  <div style="margin: 5px;">
                    <a class="btn btn-danger" onclick="markIncompleted({{obj.case_id.id}})">Mark As Incompleted</a>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
      
  <div class="container h-100" style="margin-top: 2%;">
    <div class="row align-items-center h-100">
      <div class="col-12 mx-auto">
        <div class="card h-100 justify-content-center">
          <div class="text" id="text">
            <div class="d-flex" style="padding: 10px;">    
              {% if data.has_previous %}
                <a href="?page=1" class="btn btn-outline-danger">&laquo First </a>
                &nbsp;
                <a href="?page={{data.previous_page_number}}" class="btn btn-outline-danger">Previous</a>
              {% endif %}
                &nbsp;
                page {{data.number}} of {{data.paginator.num_pages}}
                &nbsp;
              {% if data.has_next %}
                <a href="?page={{data.next_page_number}}" class="btn btn-outline-danger">Next</a>
                &nbsp;
                <a href="?page={{data.paginator.num_pages}}" class="btn btn-outline-danger">Last &raquo</a>
              {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
