{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Case Study</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  
</head>

{% block jquery %}
<script type="text/javascript">

var globtemp;
var globtitle;
var globallink;
var globid;
var keywords = [];
var checkbox;
var chSatus = false;
var score;

$( document ).ready(function() {

  if (window.sessionStorage.getItem('xr') == null){
    window.location.replace("/login")
    ses
  }

    var temp = [];
    var title = [];
    var id = [];
    var author = [];
    var visited_pages = []
    $.ajax({
          url: "/apis/main-data",
          type: "GET",
          dataType: "json",
          async: false,
          ContentType: "application/json",
          success: function(data){
            for (let i = 0; i < data.length; i++){
              temp.push(data[i]["main_problem"])
              title.push(data[i]["sub_heading"])
              id.push(data[i]["id"])
              author.push(data[i]["author_name"])
              }
            if (id.length == 0){
              window.location.replace("/error404/")
            }

          } 
      });

    var links = [];
    $.ajax({
          url: "/apis/links",
          type: "GET",
          dataType: "json",
          async: false,
          ContentType: "application/json",
          success: function(data){
            for (let i = 0; i < data.length; i++){
              links.push(data[i]["link"])
              }
            if (id.length == 0){
              window.location.replace("/error404/")
            }

          } 
      });

  function randomData(){
    let x = Math.floor((Math.random() * 1000) + 1)
    sessionStorage.setItem('pr', temp[x]);
    sessionStorage.setItem('no', id[x]);
    sessionStorage.setItem('tag', title[x]);
    sessionStorage.setItem('author', author[x]);
    sessionStorage.setItem('links', links[x])
    $("#text").html(temp[x]);
    $("#id").html("<h5> Case No: "+ id[x] + "</h5>");
    $("#title").html("<h5> Title - "+ title[x] + "</h5>");
    $(".links").html("<p> case link - <a href=" + links[x] +">"+ links[x] +"</a></p>");
  }
  
  function dataPoint(){
    var text = sessionStorage.getItem('pr');
    var id_no = sessionStorage.getItem('no');
    var tag = sessionStorage.getItem('tag');
    var link_add = sessionStorage.getItem('links');

    $("#text").html(text);
    $(".links").html("<p> case link - <a href=" + link_add +">"+ link_add +"</a></p>");
    $("#id").html("<h5> Case No: "+ id_no + "</h5>");
    $("#title").html("<h5> Title - "+ tag + "</h5>");  
  }

  if (sessionStorage.getItem('pr')== null) {
      
      randomData();
  }
  else {

      dataPoint();
  }

globtemp = temp;
globid = id;
globtitle = title;
globallink = links;
});

function nextData(){
    let x = Math.floor((Math.random() * 1000) + 1)
    sessionStorage.setItem('pr', globtemp[x]);
    sessionStorage.setItem('no', globid[x]);
    sessionStorage.setItem('tag', globtitle[x]);
    sessionStorage.setItem('links', globallink[x]);
    $("#text").html(globtemp[x]);
    $("#id").html("<h5> Case No: "+ globid[x] + "</h5>");
    $("#title").html("<h5> Title - "+ globtitle[x] + "</h5>");
    $(".links").html("<p> case link - <a href="+ globallink[x] +">"+ globallink[x] +"</a></p>" );
    $("#tags").html('');
    score = null;
    $(".page-item").removeClass("active");
    $("#summary").val('');
    $("#reply").val('');
    $(".form-check-input.ask:checked").prop("checked", false);
    $(".form-check-input.need:checked").prop("checked", false);
    $("#other").val('');
    checked=null;

  }

function addSymptomTags(){
  var takeValue = $("#symptomtag").val();
  if (takeValue != null){
  keywords.push(takeValue);
  var ItemAdd = "<h6 class='hsix'><span class='badge bg-primary' id='"+ takeValue + "' style='margin:4px;'>"+takeValue+"<button class='btn-close' aria-label='Close' onClick='removeSymptomTag()'></button></span></h6>"
  $("#symptoms").append(ItemAdd);
  $('#symptomtag').val('');
  }
}

function addProblemTags(){
  var takeValue = $("#problemtag").val();
  if (takeValue != null){
  keywords.push(takeValue);
  var ItemAdd = "<h6 class='hsix'><span class='badge bg-primary' id='"+ takeValue + "' style='margin:4px;'>"+takeValue+"<button class='btn-close' aria-label='Close' onClick='removeProblemTag()'></button></span></h6>"
  $("#problem").append(ItemAdd);
  $('#problemtag').val('');
  }
}

function addLastingTags(){
  var takeValue = $("#lastingtag").val();
  if (takeValue != null){
  keywords.push(takeValue);
  var ItemAdd = "<h6 class='hsix'><span class='badge bg-primary' id='"+ takeValue + "' style='margin:4px;'>"+takeValue+"<button class='btn-close' aria-label='Close' onClick='removeLastingTag()'></button></span></h6>"
  $("#lasting").append(ItemAdd);
  $('#lastingtag').val('');
  }
}

function addAgeTags(){
  var takeValue = $("#agetag").val();
  if (takeValue != null){
  keywords.push(takeValue);
  var ItemAdd = "<h6 class='hsix'><span class='badge bg-primary' id='"+ takeValue + "' style='margin:4px;'>"+takeValue+"<button class='btn-close' aria-label='Close' onClick='removeAgeTag()'></button></span></h6>"
  $("#age").append(ItemAdd);
  $('#agetag').val('');
  }
}

function addCauseTags(){
  var takeValue = $("#causetag").val();
  if (takeValue != null){
  keywords.push(takeValue);
  var ItemAdd = "<h6 class='hsix'><span class='badge bg-primary' id='"+ takeValue + "' style='margin:4px;'>"+takeValue+"<button class='btn-close' aria-label='Close' onClick='removeCauseTag()'></button></span></h6>"
  $("#cause").append(ItemAdd);
  $('#causetag').val('');
  }
}

function addWantTags(){
  var takeValue = $("#wanttag").val();
  if (takeValue != null){
  keywords.push(takeValue);
  var ItemAdd = "<h6 class='hsix'><span class='badge bg-primary' id='"+ takeValue + "' style='margin:4px;'>"+takeValue+"<button class='btn-close' aria-label='Close' onClick='removeWantTag()'></button></span></h6>"
  $("#want").append(ItemAdd);
  $('#wanttag').val('');
  }
}

function addWantTags(){
  var takeValue = $("#thoughtag").val();
  if (takeValue != null){
  keywords.push(takeValue);
  var ItemAdd = "<h6 class='hsix'><span class='badge bg-primary' id='"+ takeValue + "' style='margin:4px;'>"+takeValue+"<button class='btn-close' aria-label='Close' onClick='removeThoughtTag()'></button></span></h6>"
  $("#though").append(ItemAdd);
  $('#thoughttag').val('');
  }
}

function addTags(){
  var takeValue = $("#inputtags").val();
  if (takeValue != null){
  keywords.push(takeValue);
  var ItemAdd = "<h6 class='hsix'><span class='badge bg-primary' id='"+ takeValue + "' style='margin:4px;'>"+takeValue+"<button class='btn-close' aria-label='Close' onClick='removeTag()'></button></span></h6>"
  $("#tags").append(ItemAdd);
  $('#inputtags').val('');
  }
}

function removeTag(){
  $("#tags").on("click","span", function(){
      var key = $( this ).attr("id");
      $(this).remove();
      var keyIndex = keywords.indexOf(key);
      keywords.splice(keyIndex, 1);

  });
}

function removeWantTag(){
  $("#want").on("click","span", function(){
      var key = $( this ).attr("id");
      $(this).remove();
      var keyIndex = keywords.indexOf(key);
      keywords.splice(keyIndex, 1);

  });
}


function removeSymptomTag(){
  $("#symptomtag").on("click","span", function(){
      var key = $( this ).attr("id");
      $(this).remove();
      var keyIndex = keywords.indexOf(key);
      keywords.splice(keyIndex, 1);

  });
}

function removeProblemTag(){
  $("#problemtag").on("click","span", function(){
      var key = $( this ).attr("id");
      $(this).remove();
      var keyIndex = keywords.indexOf(key);
      keywords.splice(keyIndex, 1);

  });
}

function removeLastingTag(){
  $("#lastingtag").on("click","span", function(){
      var key = $( this ).attr("id");
      $(this).remove();
      var keyIndex = keywords.indexOf(key);
      keywords.splice(keyIndex, 1);

  });
}

function removeAgeTag(){
  $("#agetag").on("click","span", function(){
      var key = $( this ).attr("id");
      $(this).remove();
      var keyIndex = keywords.indexOf(key);
      keywords.splice(keyIndex, 1);

  });
}

function removeCauseTag(){
  $("#causetag").on("click","span", function(){
      var key = $( this ).attr("id");
      $(this).remove();
      var keyIndex = keywords.indexOf(key);
      keywords.splice(keyIndex, 1);

  });
}

function removeThoughtTag(){
  $("#thoughttag").on("click","span", function(){
      var key = $( this ).attr("id");
      $(this).remove();
      var keyIndex = keywords.indexOf(key);
      keywords.splice(keyIndex, 1);
    });
}

function submitForm(){
  
  $.ajax({
    url: "/apis/submit",
    method:"POST",
    data:data,
    dataType:"json",
    ContentType: "application/json",
    success: function(response){
      if (response["response"] == true){
        nextData();
      }

    }
  });
        }
</script>
{% endblock %}
<body>
 <div class="container h-300" style="margin-top: 5%;">
    <div class="row align-items-center h-300">
      <div class="col-12 mx-auto">
        <div id="id">
          </div>
            <div class="card h-300 justify-content-center" style="padding: 15px;">
              <div id="title">
              </div>
                <div class="text" id="text">
                  <div class="d-flex justify-content-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                  </div>
                </div>
                <br>
            </div>
            <br>
            <div class="container h-100">
              <div class="row align-items-center h-100">
                <div class="col-12">
                  <div class="card h-100 justify-content-center" style="padding: 10px;">
                    <h5>Case Link</h5>
                    <div class="links">  
                    </div>
                    </div>
                  <div>
                </div>
              </div>
            </div>
          </div>
          <br>
            <button type="button" class="btn btn-outline-primary" onclick="nextData()" style="float:rigth;">Next Case</button>
            <br>
            <br>
            <div class="container h-100">
              <div class="row align-items-center h-100">
                <div class="col-12">
                  <div class="card h-100 justify-content-center" style="padding: 15px;">
                    <h5>Context of Emotion</h5>
                    <br>
                    <div class="form-group mx-sm-3 mb-2">
                      <input type="text" class="form-control" id="inputtags" placeholder="type here...">
                    </div>
                    <br>
                    <button class="btn btn-primary mb-2" onclick="addTags()">Add tag</button>
                    <br>
                    <div class="d-flex flex-wrap bd-highlight mb-3" id="tags">   
                    </div>
                    <div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="container h-100">
              <div class="row align-items-center h-100">
                <div class="col-12">
                  <div class="card h-100 justify-content-center" style="padding: 15px;">
                    <h5>Context of symptoms</h5>
                    <br>
                    <div class="form-group mx-sm-3 mb-2">
                      <input type="text" class="form-control" id="symptomtag" placeholder="type here...">
                    </div>
                    <br>
                    <button class="btn btn-primary mb-2" onclick="addSymptomTags()">Add tag</button>
                    <br>
                    <div class="d-flex flex-wrap bd-highlight mb-3" id="symptom">
                    </div>
                    <div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="container h-100">
              <div class="row align-items-center h-100">
                <div class="col-12">
                  <div class="card h-100 justify-content-center" style="padding: 15px;">
                    <h5>Context of Problem</h5>
                    <br>
                    <div class="form-group mx-sm-3 mb-2">
                      <input type="text" class="form-control" id="problemtag" placeholder="type here...">
                    </div>
                    <br>
                    <button class="btn btn-primary mb-2" onclick="addProblemTags()">Add tag</button>
                    <br>
                    <div class="d-flex flex-wrap bd-highlight mb-3" id="problem">
                    </div>
                    <div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="container h-100">
              <div class="row align-items-center h-100">
                <div class="col-12">
                  <div class="card h-100 justify-content-center" style="padding: 15px;">
                    <h5>Context of Prolonged</h5>
                    <br>
                    <div class="form-group mx-sm-3 mb-2">
                      <input type="text" class="form-control" id="lastingtag" placeholder="type here...">
                    </div>
                    <br>
                    <button class="btn btn-primary mb-2" onclick="addLastingTags()">Add tag</button>
                    <br>
                    <div class="d-flex flex-wrap bd-highlight mb-3" id="lasting">
                    </div>
                    <div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="container h-100">
              <div class="row align-items-center h-100">
                <div class="col-12">
                  <div class="card h-100 justify-content-center" style="padding: 15px;">
                    <h5>Context of Suffering from</h5>
                    <br>
                    <div class="form-group mx-sm-3 mb-2">
                      <input type="text" class="form-control" id="agetag" placeholder="type here...">
                    </div>
                    <br>
                    <button class="btn btn-primary mb-2" onclick="addAgeTags()">Add tag</button>
                    <br>
                    <div class="d-flex flex-wrap bd-highlight mb-3" id="age">
                    </div>
                    <div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="container h-100">
              <div class="row align-items-center h-100">
                <div class="col-12">
                  <div class="card h-100 justify-content-center" style="padding: 15px;">
                    <h5>Context of Cause</h5>
                    <br>
                    <div class="form-group mx-sm-3 mb-2">
                      <input type="text" class="form-control" id="causetag" placeholder="type here...">
                    </div>
                    <br>
                    <button class="btn btn-primary mb-2" onclick="addCauseTags()">Add tag</button>
                    <br>
                    <div class="d-flex flex-wrap bd-highlight mb-3" id="cause">
                    </div>
                    <div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="container h-100">
              <div class="row align-items-center h-100">
                <div class="col-12">
                  <div class="card h-100 justify-content-center" style="padding: 15px;">
                    <h5>Context of Thoughts</h5>
                    <br>
                    <div class="form-group mx-sm-3 mb-2">
                      <input type="text" class="form-control" id="thoughttag" placeholder="type here...">
                    </div>
                    <br>
                    <button class="btn btn-primary mb-2" onclick="addThoughtTags()">Add tag</button>
                    <br>
                    <div class="d-flex flex-wrap bd-highlight mb-3" id="thought">
                    </div>
                    <div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container h-100">
              <div class="row align-items-center h-100">
                <div class="col-12">
                  <div class="card h-100 justify-content-center" style="padding: 15px;">
                    <h5>Context of Patient wants</h5>
                    <br>
                    <div class="form-group mx-sm-3 mb-2">
                      <input type="text" class="form-control" id="wanttag" placeholder="type here...">
                    </div>
                    <br>
                    <button class="btn btn-primary mb-2" onclick="addWantTags()">Add tag</button>
                    <br>
                    <div class="d-flex flex-wrap bd-highlight mb-3" id="want">
                    </div>
                    <div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container h-100">
              <div class="row align-items-center h-100">
                <div class="col-12">
                  <div class="card h-100 justify-content-center" style="padding: 10px;">
                    <br>
                    <button class="btn btn-success" onclick="submitForm()">submit</button> 
                  </div>
                <div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
